body{
    margin:0;
    background-color: lightgrey;
}

nav{
    
    
    background-color:rgb(237, 171, 47);
    padding : 10px;
    color: white;
}

form{
    margin: 10px 0 0 10px;
    position: absolute;
    display: inline;
    background-color: white;
    padding: 50px 10px;
    border-radius: 30px;
    color: grey;
}

